.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
  }
  
  .activeItem {
    font-weight: bold;
    font-size: 1.25rem; /* text-xl */
    border-bottom: 4px solid #008000; /* Green */
    color: #008000; /* Green */
  }
  
  @media (min-width: 768px) {
    .activeItem {
      font-size: 1.5rem; /* md:text-2xl */
    }
  }
  
  .navLinks {
    display: flex;
    gap: 1.25rem;
    font-size: 1.125rem; /* text-lg */
  }
  
  .navLink {
    cursor: pointer;
  }
  
  .navItem {
    transition: color 0.3s;
  }
  
  .navItem:hover {
    color: #008000; /* Green */
  }
  